<!DOCTYPE html>

<html lang="en">
	<head>
		<title>MobileXchange</title>
		
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/basic_layout.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="jquery-3.2.1.min.js"></script>
		<script src="script/HomepageForm.js"></script>
	</head>
	
	<body background="../static/assets/images/background1.jpeg">
		<div class="row">
			<div class="col-md-12">
				<h1 class="heading" >Mobile<font color="white">Xchange</font></h1>
			</div>
		</div>
		
		<div class="form" align="right">
			<h1 class="form-heading">Fill your details</h1>
			
			<form action="http://127.0.0.1:5000/predict" method="post">
				<div class="form-group">
    				<label for="email">Your name</label>
    				<input type="text" class="form-control" id="text">
    				<label for="selectBrand">Brand</label>
					  <select class="form-control id="selectBrand">
						<option>Iphone</option>
						<option>Samsung</option>
						<option>Xiaomi</option>
						<option>Motorola</option>
						<option>OnePlus</option>
					  </select>
					
					<label for="selectModel">Model</label>
					  <select class="form-control id="selectModel">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					  </select>
					
					<label for="monthsUsed">Approximate Usage (in months)</label>
					<input type="text" class="form-control" id="monthsUsed">  
                	
                	<label for="selectIssue">Issues</label>
					  <select class="form-control id="selectIssue">
						<option>None</option>
						<option>Hang</option>
						<option>Battery</option>
						<option>Hang+Battery</option>
						<option>Microphones</option>
						<option>Battery+Microphones</option>
						<option>Hang+Microphones</option>
						<option>Hang+Wifi</option>
						<option>Wifi+Microphones</option>
					  </select>
					  
					<label for="selectPrice">Expected Price</label>
					<input type="text" class="form-control" id="selectPrice">  
					
					<br/>
					<button type="submit" value="submit" class="btn btn-primary">Submit</button>
					
				</div>
			</form>
			
		</div>
	
	</body>
		
</html>

